@media screen and (max-width: 1201px) {

    #main-skills .content-card:last-child {
        padding: 24px 10%;
        text-align: center;
    }

    #main-skills .content-card:last-child .card-figure {
        margin-left: auto;
        margin-right: auto;
    }

    #presentation-content {
        margin: 15rem;
    }

    #presentation-main {
        gap: 4em;
    }

    #presentation-main p {
        font-size: 1.7rem;
    }

    #finished-projects {
        padding: 4.5rem 6.5rem;
    }

    .project-description p {
        font-size: 1.5rem;
    }

    .project-description h2 {
        font-size: 3rem;
    }

    #about-card {
        padding: 7.4rem 1rem 1rem 4.9rem;
    }

    #about-card ul {
        padding-right: 4rem;
    }

}


@media screen and (max-width: 1024px) {    

    #presentation-main p {
        font-size: 1.5rem;
    }

    #about-main {
        flex-direction: column;
        align-items: center;
    }

    #about-main-inner {
        align-items: center;
        min-height: max-content;
        width: 100%;
    }

    #about-card {
        height: auto;
        max-width: 100%;
        flex-grow: 1;
        text-align: center;
        align-items: center;
        margin: 3rem 4rem;
        gap: 2rem;
        padding: 3.9rem 0;
        justify-content: center;
    }

    #about-card ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-items: center;
        align-items: center;
        grid-template-rows: 100px 100px;
        padding-right: 0;
    }

    #about-card li {
        height: auto;
        inset: 0;
    }

    #about-card li:nth-child(2) {
        justify-self: flex-start;
    }

    #about-main-me, #about-main-picture {
        max-width: 100%;
    }


}

@media screen and (max-width: 992px) {


    #main-skills .content-card {
        flex: 1 1 29.6rem;
    }


    #presentation-main {
        flex-direction: column;
        border-radius: 10rem 0;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    #presentation-content {
        margin: 12rem;
    }

    #presentation-desc {
        align-self: center;
        gap: 2em;
        align-items: center;
    }

    #presentation-desc h1 {
        text-align: center;
    }

    #presentation-desc p {
        max-width: 100%;
        text-align: center;
    }

    #photo-container {
        width: 100%;
    }

    #finished-projects {
        padding: 4.5rem 10rem;
    }

    .projects-card {
        flex-direction: column;
        padding: 2rem 6.6rem;
        gap: 4rem;
    }

    .projects-card #img-bottom {
        top: 0;
    }

    .projects-card .img-front {
        bottom: 0;
    }

    .project-description {
        text-align: center;
        align-items: center;
        margin-bottom: 3em;
    }

    #frontQuestions img {
        border-radius: 4rem;
    }

    #projeto-redes-sociais img:first-child {
        top: -3rem;
    }

    #projeto-redes-sociais img:nth-child(2) {
        top: 0;
        height: 100%;
    }

    .projects-card>div {
        width: 100%;
    }

    #projeto-redes-sociais>div:first-child {
        order: 1;
    }

    #about-card {
        min-height: 45rem;
    }

}

@media screen and (max-width: 768px) {

    #main-skills .content-card:last-child {
        padding: 2.4rem;
        text-align: start;
    }

    #main-skills .content-card:last-child .card-figure {
        margin: 0;
    }

    #presentation-main #presentation-photo {
        max-width: 100%;
        border-radius: 0;
        transform: matrix(1, 0, 0, 1, 0, 0);
        background-size: cover;
        border: .5em solid white;
    }

    #presentation-main {
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }

    #presentation-content {
        margin: 2rem;
    }

    #presentation-desc h1 {
        font-size: 2.5rem;
    }
    

    #finished-projects {
        padding: 4.5rem 3rem;
    }

    .projects-card {
        padding: 1rem 3.5rem;
    }

    .project-description {
        margin-bottom: 2em;
    }

    .project-description h2 {
        font-size: 2.5rem;
    }
    #about-main ul {
        margin: auto 0;
        display: flex;
        /* align-items: flex-start; */
    }
}

@media screen and (max-width: 600px) {
   


}

@media screen and (max-width:481px) {}

@media screen and (max-width: 320px) {}